*.[oax]
*.mod
*.MOD
*~*
job.*
log.*
ctm.bpch*
trac_avg.*
trac_rst.*
soil_rst*.mp
soil_rst*.sp
diaginfo.dat
tracerinfo.dat
geos*
*.log
HEMCO*Config.rc
HEMCO*restart*Dev
HEMCO*restart*Ref
HEMCO*log*
core.*
Ox.mass.*
lastbuild.*