*.[oax]
*.mod
*.MOD
*~*
job.*
log.*
trac_avg.*
trac_rst.*
soil_rst.*
ocean_rst.*
diaginfo.dat
tracerinfo.dat
geos.mp
geos.sp
input.geos
smv2.log
HEMCO*Config.rc
HEMCO*restart*
HEMCO*log*
lastbuild.*
Makefile
