*.[oax]
*.mod
*.MOD
*~*
slurm.*
job.*
log.*
trac_avg.*
trac_rst.*
GEOSChem_restart*
GEOSChem_diagnostics*
diaginfo.dat
tracerinfo.dat
geos.*
geos
*.log
HEMCO*log*
lastbuild.*
Ox.mass.*
tracer*mass*.dat
